<style>
	.navbar , .footer  {
		display: none;
	}
</style>
	
<div id="sidebar" style="background: #2C3E50; height: 100vh;">
	<ul id="sidebar-nav">
		<li>
			<a href="/">
			  <img src="/assets/images/flogo.png" alt="Logo" height="75rem">
			</a>
		  </li>		  
		<li>
		<li><a href="/agent/dashboard">Dashboard</a></li>
		<li><a href="/agent/collections/pending">My Pending Collections</a></li>
		<li><a href="/agent/collections/previous">My Previous Collections</a></li>
		<li><a href="/agent/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn" style="background-color: white ; color: #2C3E50;">Logout</a></li>
	</ul>
</div>