<style>
  .footer{
    margin-top: 120px;;
  }
</style>
<div class="row">
  <div class="col"></div>
  <div class="col col-6">
    <div class="card d-flex justify-content-center align-items-center">
      <img src="/assets/images/about1.jpg" class="card-img-top" alt="..." style="width: 100px; height: auto; margin: auto;">
      <div class="card-body">
        <h5 class="card-title text-center " style="color:#4169E1" >Donors: Donate Excess Food Effortlessly</h5>
        <p class="card-text" style="list-style-type:circle">
          <ul>
            <li>Donate excess food with ease through quick requests.</li>
            <li>Track your donation status and view donation history.</li>
            <li>Contribute to reducing food waste and feeding those in need.</li>
            <li>Manage your profile and donation preferences effortlessly.</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col col-5">
    <div class="card d-flex justify-content-center align-items-center">
      <img src="/assets/images/about2.jpg" class="card-img-top" alt="..." style="width: 100px; height: auto; margin: auto;">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:#4169E1">Agents: Collect and Deliver Food Donations</h5>
        <p class="card-text">
          <ul>
            <li>Collect and Deliver Food Donations.</li>
            <li> Receive assignments to collect food donations.</li>
            <li>Confirm pickups and ensure timely delivery to beneficiaries.</li>
            <li> Track your completed collections and contributions.</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<div class="row" style="margin-top: 20px;;">
  <div class="col"></div>
  <div class="col col-5 ">
    <div class="card d-flex justify-content-center align-items-center" >
      <img src="/assets/images/about3.jpg" class="card-img-top" alt="..." style="width: 100px; height: auto; margin: auto;">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:#4169E1"> Admins: Coordinate and Manage Donations</h5>
        <p class="card-text">
          <ul>
            <li>Assign agents to ensure smooth food collection and delivery.</li>
            <li>Monitor pending donations and system-wide activity in real time.</li>
            <li>Manage agents, donors, and view detailed donation analytics.</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
